* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/*
#e8eded general white (background and text)
#1B3156 (text background)
#7277A6 h1
#5776AF h2
#754668 header/buttons
#C8C2D3 highlights(links)
*/
html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	letter-spacing: 0px;
	color: #e8eded;
	background-color: #e8eded;
	height: 100%;
	width: 100%;
	font-size: 0px;
}

/* Main margins */
main {
	margin-bottom: 250px;
	margin-top: 75px;
}

/* Button styles */
input[type="button"] {
	background-color: #754668;
	border: solid 2.5px #e8eded;
	text-align: center;
	transition: 0.25s;
	cursor: pointer;
	color: #e8eded;
	margin: 0;
	padding: 0;
}

input[type="button"]:hover {
	background-color: #e8eded;
	color: #754668;
}
.text {
	padding-top: 5%;
}

.text ul {
	/*background-color: rgb(18, 68, 75);*/
	background-color: #1b3156;
	max-width: 600px;
	padding: 0;
	padding-top: 25px;
	padding-bottom: 35px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 5px;
	transition: 0.25s;
	text-align: center;
}

.text li {
	display: inline-block;
	margin: 0px 50px;
	vertical-align: top;
}

.text p {
	color: #e8eded;
	text-align: center;
	padding: 0;
	margin: 1.25vw;
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 30px;
	transition: 0.25s;
	width: 450px;
}

.text a {
	text-decoration: none;
	color: #1b3156;
	background-color: #c8c2d3;
	padding: 5px;
	border-radius: 2.5px;
	font-style: italic;
	font-size: 18px;
	margin-top: 10vh;
	transition: 0.5s;
}
.text a:hover {
	background-color: #e8eded;
}

h1 {
	font-size: 56px;
	font-weight: bold;
	background-color: #7277a6;
	color: #e8eded;
	padding: 25px 25px;
	margin: 0;

	text-align: center;
}

h2 {
	background-color: #5776af;
	color: #e8eded;
	width: 100%;
	text-align: center;
	padding: 20px 50px;
	font-size: 46px;
	margin-top: 0px;
	margin-bottom: 50px;
}
.link input[type="button"] {
	background-color: #754668;
	border: solid 2.5px #e8eded;
	text-align: center;
	transition: 0.25s;
	cursor: pointer;
	color: #e8eded;
	margin: 0;
	padding: 0;
	font-size: 24pt;
}

.link input[type="button"]:hover {
	background-color: #e8eded;
	color: #754668;
}
